# OCI 자격증명
.oci/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars        # 민감정보 포함

# Ansible
ansible/group_vars/all.yml        # k3s token 포함
ansible/inventory/hosts.ini       # terraform apply 후 자동 생성
kubeconfig                        # 클러스터 설치 후 자동 생성

# 임시파일
*.retry
terraform/terraform.tfvars
